body{
    background-color: rgb(252, 237, 220);
    color:rgb(167, 70, 0);
    font-family: 'Oswald', sans-serif;
}
/*Así se pone un comentario, width ancho, */

h1{
    color:rgb(120, 76, 0);
}

h3{
    color:chocolate;
}

.img1{
    width: 300px;  
    border-style:dashed; 
}

.img2{
    width: 300px;
    border-style:dashed;
    border-width: 4px;
    border-color: rgb(167, 70, 0);
}

footer{
    background-color: rgb(120, 76, 0);
}
small, a{
    color:cornsilk;
    padding-bottom: 0;
}
